<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="DriverToUse" value="Chrome"/>
    <!--DriverPath where the exe files for IE and Firefox exists-->
    <add key="ChromeDriverPath" value="C:\Users\athirum\Downloads\ImdbTestProject"/>
    <add key="InternetExplorerDriverPath" value="C:\Users\athirum\Downloads\ImdbTestProject"/>
    <!--FilePath where the list of movies need to be stored-->
    <add key="FilePath" value="E:\imdbmovie.txt"/>


    <!--From here to EOF no need of changing any of the settings-->
    <!--URL of the webpage to be tested-->
    <add key="TargetUrl" value="http://www.imdb.com/chart/top"/>
    <!-- 
      Configure Selenium grid settings http://www.seleniumhq.org/projects/grid/
    -->
    <add key="ImplicitlyWait" value="60"/>
    <add key="PageLoadTimeout" value="90"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
